%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title
      - if content_for?(:title)
        Tech Interrupt:
        = yield(:title)
      -else
        Tech Interrupt
    %meta{:charset=> "utf-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'fav-icon.png'
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto"
    %meta{:property => "og:title", :content => "Software AG Tech Interrupt"}
    %meta{:property => "og:site_name", :content => "Software AG Tech Interrupt"}
    %meta{:property => "og:description", :content => "Tech interrupt is the event where SUSE engineers can experiment without limits. This is the opportunity to innovate, collaborate across teams, and learn."}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/header"
    .container
      - content_for :my_part do
        - if flash
          = render partial: "layouts/alert", flash: flash
          - if @news
            = render partial: "layouts/news"
          = yield

      - if @is_home_page
        #home-content
          = yield :my_part
      - else
        #content
          = yield :my_part

    = render :partial => "layouts/footer"

  .modal.fade#modal{ role: :dialog, aria_hidden: true }
    .modal-dialog
      .modal-content
        .modal-header#modal-header
        .modal-body#modal-body
        .modal-footer
          %button.btn.btn-default{ type: :button, data:{ dismiss: :modal }} Close